---
// import "../styles/global.css";
import "@/styles/globals.css";
import { Spa_test_1 } from "../components/react/spa_test_1";
---

<main class="test">
  <Spa_test_1 client:only="react" />
</main>
